<f:if condition="{settings.bgImage}">
	<img src="/uploads/{settings.bgImage}" alt="" title="">
</f:if>

<f:if condition="{settings.header}">
	<div class="title">{settings.header}</div>
</f:if>

<f:if condition="{settings.subheader}">
	<div class="subtitle">{settings.subheader}</div>
</f:if>

<f:if condition="{settings.text}">
	<div class="text"><f:format.html>{settings.text}</f:format.html></div>
</f:if>

<f:if condition="{0: settings.countTo} == {0: 'date'}">
	<f:then><div class="countdown">Noch {settings.daysToTargetDate} Tage!</div></f:then>
	<f:else><div class="countdown">Noch {settings.timeToTargetDate.days} Tage, {settings.timeToTargetDate.hours} Stunden, {settings.timeToTargetDate.minutes} Minuten, {settings.timeToTargetDate.seconds} Sekunden.</div></f:else>
</f:if>
<div class="ce-clearer"></div>