<f:if condition="{settings.bgImage}">
	<img src="/uploads/{settings.bgImage}" alt="" title="">
</f:if>

<f:if condition="{settings.header}">
	<div class="title">{settings.header}</div>
</f:if>

<f:if condition="{settings.subheader}">
	<div class="subtitle">{settings.subheader}</div>
</f:if>

<f:if condition="{settings.text}">
	<div class="text"><f:format.html>{settings.text}</f:format.html></div>
</f:if>

<f:if condition="{0: settings.countTo} == {0: 'date'}">
	<f:then>
		<div class="countdown-container">
			<f:translate key="LLL:EXT:meineExtension/Resources/Private/Language/locallang.xml:tx_jhecountdownce_domain_model_countdownce.countdownToDays" arguments="{0: '{settings.daysToTargetDate}'}" />
		</div>
	</f:then>
	<f:else>
		<div class="main-countdown">
			<div class="countdown-container" id="main-countdown"></div>
		</div>

		<script type="text/template" id="main-countdown-template">
			<div class="time <%= label %>">
				<span class="count curr top"><%= curr %></span>
				<span class="count next top"><%= next %></span>
				<span class="count next bottom"><%= next %></span>
				<span class="count curr bottom"><%= curr %></span>
				<span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
			</div>
		</script>

		<script type="text/javascript">
			$(window).on('load', function() {
				var labels = [
						'<f:translate key="LLL:EXT:meineExtension/Resources/Private/Language/locallang.xml:tx_jhecountdownce_domain_model_countdownce.days" />',
						'<f:translate key="LLL:EXT:meineExtension/Resources/Private/Language/locallang.xml:tx_jhecountdownce_domain_model_countdownce.hours" />',
						'<f:translate key="LLL:EXT:meineExtension/Resources/Private/Language/locallang.xml:tx_jhecountdownce_domain_model_countdownce.minutes" />',
						'<f:translate key="LLL:EXT:meineExtension/Resources/Private/Language/locallang.xml:tx_jhecountdownce_domain_model_countdownce.seconds" />',
					],
					targetDateTime = moment("{settings.targetDateString}").toDate(),
					template = _.template($('#main-countdown-template').html()),
					currDate = '00:00:00:00',
					nextDate = '00:00:00:00',
					$example = $('#main-countdown');

				// Parse countdown string to an object
				function strfobj(str) {
					var parsed = str.split(':'),
						obj = {};
					labels.forEach(function(label, i) {
						obj[label] = parsed[i]
					});
					return obj;
				}

				// Return the time components that diffs
				function diff(obj1, obj2) {
					var diff = [];
					labels.forEach(function(key) {
						if (obj1[key] !== obj2[key]) {
							diff.push(key);
						}
					});
					return diff;
				}

				// Build the layout
				var initData = strfobj(currDate);
				labels.forEach(function(label, i) {
					$example.append(template({
						curr: initData[label],
						next: initData[label],
						label: label
					}));
				});

				// Starts the countdown
				$example.countdown(targetDateTime, function(event) {
					var newDate = event.strftime('%D:%H:%M:%S'),
							data;
					if (newDate !== nextDate) {
						currDate = nextDate;
						nextDate = newDate;

						// Setup the data
						data = {
							'curr': strfobj(currDate),
							'next': strfobj(nextDate)
						};

						// Apply the new values to each node that changed
						diff(data.curr, data.next).forEach(function(label) {
							var selector = '.%s'.replace(/%s/, label),
								$node = $example.find(selector);

							// Update the node
							$node.removeClass('flip');
							$node.find('.curr').text(data.curr[label]);
							$node.find('.next').text(data.next[label]);
							// Wait for a repaint to then flip
							_.delay(function($node) {
								$node.addClass('flip');
							}, 50, $node);
						});
					}
				});
			});
		</script>

	</f:else>
</f:if>
<div class="ce-clearer"></div>