<f:if condition="{settings.bgImage}">
	<img src="/uploads/{settings.bgImage}" alt="" title="">
</f:if>

<f:if condition="{settings.header}">
	<div class="title">{settings.header}</div>
</f:if>

<f:if condition="{settings.subheader}">
	<div class="subtitle">{settings.subheader}</div>
</f:if>

<f:if condition="{settings.text}">
	<div class="text"><f:format.html>{settings.text}</f:format.html></div>
</f:if>

<f:if condition="{0: settings.countTo} == {0: 'date'}">
	<f:then><div class="countdown">Noch {settings.daysToTargetDate} Tage!</div></f:then>
	<f:else>
		<div class="countdown"></div>
		<script>
			var targetDatetime = moment("{settings.targetDateString}");
			$('.countdown').countdown(targetDatetime.toDate(), function(event) {
				$(this).html(event.strftime('Noch %-D Tage, %-H Stunden, %M Minuten, %S Sekunden'));
			});
		</script>
	</f:else>
</f:if>
<div class="ce-clearer"></div>